html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.upload-block {
    background: rgba(236, 236, 236, 0.9);
    border-radius: 4px;
    font-size: 15px;
    padding: 0px;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    width: 100% !important;
}

.upload-block input[type='file'] {
    width: 100%;
    height: 40px;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    outline: none;
    height: 100%;
    left: 0px;
    margin: 0px;
    opacity: 0;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.text-description {
    text-align: center;
    padding: 30px 30px 20px;
    width: 100%;
}

.upload-button {
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0px 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin-top: auto;
    cursor: pointer;
}

.upload-button.blue {
    background-color: #0070f3;
}

.upload-button.green {
    background-color: green;
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 20px;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    -moz-animation: lds-dual-ring 1.2s linear infinite;
    animation: lds-dual-ring 1.2s linear infinite;
}

.cursor-pointer {
    cursor: pointer;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
